<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/login.css">
    <script src="/resources/js/funcionesLogin.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="container-login">
        <form class="form" action="" method="post">
            <div class="form-wrapper">
                <input type="text" placeholder="" id="user" name="user" required>
                <label for="">Email</label>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="" name="password" required>
                <label for="">Password</label>
            </div>
            <h3><a href="#">Forgot your password</a></h3>
            <input id="enviarForm" type="submit" value="Login">
        </form>
    </div>
</body>
</html>