<!-- SIDE MENU PARA ESCRITORIO -->
<section id="containerSidebar"  class="menuOculto redireccion">
    <div class="img-logo-sidebar">
        <img src="src/icons/logo.png" alt="">
    </div>
    <span href="" id="home">
        <img src="src/icons/homewhite.svg" alt="icon_home">
        <h3>home</h3>
    </span>
    <span href="seccionCartas.html" id="deckbuilder">
        <img src="src/icons/deckswhite.svg" alt="icon_home">
        <h3>decks</h3>
    </span>
    <span href="" id="collectionSide">
        <img src="src/icons/collectionwhite.svg" alt="icon_home">
        <h3>collection</h3>
    </span>
    <!-- <span href="" id="trade">
        <img src="src/icons/Intercambiowhite.svg" alt="icon_home">
        <h3>Intercambio</h3>
    </span> -->
    <span href="">
        <img src="src/icons/perfilwhite.svg" alt="icon_home">
        <h3>perfil</h3>
    </span>
    <span href="" id="chatSide">
        <img src="src/icons/chatwhite.svg" alt="icon_home">
        <h3>Chat</h3>
    </span>
    <!-- <span href="">
        <img src="src/icons/forowhite.svg" alt="icon_home">
        <h3>foro</h3>
    </span> -->
    <!-- <span href="">
        <img src="src/icons/eventoswhite.svg" alt="icon_home">
        <h3>eventos</h3>
    </span> -->
    <span href="" id="logout">
        <img src="src/icons/logoutwhite.svg" alt="icon_home">
        <h3>log out</h3>
    </span>
    <span href="" id="coffe">
        <img src="src/icons/bmc-logo-yellow.png" alt="icon_home">
    </span>
    <div id="toogleMenu"><img src="src/icons/arrow-rigth.svg" alt=""></div>
</section>

<!-- SIDE MENU PARA MOVIL -->

<section id="containerSidebarMovil" class="redireccion">
    <span href="" id="home2">
        <img src="src/icons/homewhite.svg" alt="icon_home">
        <h3>home</h3>
    </span>
    <span href="seccionCartas.html" id="deckbuilder2">
        <img src="src/icons/deckswhite.svg" alt="icon_home">
        <h3>decks</h3>
    </span>
    <!-- <span href="">
        <img src="src/icons/eventoswhite.svg" alt="icon_home">
        <h3>eventos</h3>
    </span> -->
    <span href="">
        <img src="src/icons/collectionwhite.svg" alt="icon_home">
        <h3>collection</h3>
    </span>
    <span href="" id="otros">
        <div id="notificacion"><div></div></div>
        <img src="src/icons/otroswhite.svg" alt="icon_home">
        <h3>otros</h3>
    </span>
</section>
<div id="desplegableNavBar">
    <span href="" id="">
        <img src="src/icons/chatwhite.svg" alt="icon_home">
        <h3>chat</h3>
    </span>
    <!-- <span href="">
        <img src="src/icons/Intercambiowhite.svg" alt="icon_home">
        <h3>Intercambio</h3>
    </span> -->
    <span href="">
        <img src="src/icons/perfilwhite.svg" alt="icon_home">
        <h3>perfil</h3>
    </span>
    <span href="" id="logout">
        <img src="src/icons/logoutwhite.svg" alt="icon_home">
        <h3>log out</h3>
    </span>
    <span href="" id="coffe">
        <img src="src/icons/bmc-logo-yellow.png" alt="icon_home">
    </span>
    <!-- <span href="">
        <img src="src/icons/log outwhite.svg" alt="icon_home">
        <h3>log out</h3>
    </span> -->
</div>
