<section id="containerSidebar"  class="menuOculto">
    <div class="img-logo-sidebar">
        <img src="src/icons/logo.svg" alt="">
    </div>
    <span href="" class="active">
        <img src="src/icons/home2-svgrepo-com.svg" alt="icon_home">
        <h3>home</h3>
    </span>
    <span href="seccionCartas.html" id="deckbuilder">
        <img src="src/icons/cards-svgrepo-com.svg" alt="icon_home">
        <h3>deck builder</h3>
    </span>
    <span href="">
        <img src="src/icons/collection-svgrepo-com.svg" alt="icon_home">
        <h3>collection</h3>
    </span>
    <span href="">
        <img src="src/icons/swap-svgrepo-com.svg" alt="icon_home">
        <h3>trade</h3>
    </span>
    <span href="">
        <img src="src/icons/user-alt-1-svgrepo-com.svg" alt="icon_home">
        <h3>profile</h3>
    </span>
    <span href="">
        <img src="src/icons/chat-round-check-svgrepo-com.svg" alt="icon_home">
        <h3>Chat</h3>
    </span>
    <span href="">
        <img src="src/icons/forum-svgrepo-com.svg" alt="icon_home">
        <h3>forum</h3>
    </span>
    <span href="">
        <img src="src/icons/trophy-01-svgrepo-com.svg" alt="icon_home">
        <h3>tournaments</h3>
    </span>
    <span href="">
        <img src="src/icons/log-out-svgrepo-com.svg" alt="icon_home">
        <h3>log out</h3>
    </span>
    <div id="toogleMenu"><img src="src/icons/arrow-rigth.svg" alt=""></div>
</section>