#chat-container{
    display: flex;
    justify-content: center;
    width: calc(100% - 100px);
    height: 100vh;
    margin-left: 100px;
    gap: 10px;

    .friends{
        border-radius: 20px;
        width: 20vw;
        height: 95vh;
        /* padding: 20px; */
        margin: auto;
        background-color: #211b27;
        .acciones{
            height: 75px;
            display: flex;
            padding: 10px;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            input{
                height: 25px !important;
                width: 80% !important;
                border: 1px solid black !important;
                border-radius: 25px !important;
                color: rgb(0, 0, 0) !important;
                padding: 15px !important;

                &:target{
                    border: 1px solid #7922d0; 
                }
            }
            button{
                border-radius: 50% !important;
                border: 2px solid transparent !important;
                padding: 5px !important;
                width: 40px;
                height: 40px;
                min-width: auto;
                background-color: white;
                font-weight: normal;
                
                & img{
                    height: 25px;
                }

                &:hover{
                    border: 2px solid #7922d0; 
                }
            }
        }
        #friends-list{
            display: flex;
            flex-direction: column;
            height: calc(100% - 75px);

            .user{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 75px;
                width: 100%;
                justify-content: space-between;
                word-wrap: break-word;
                height: auto;
                cursor: pointer;
                .icon-user{
                    padding:0 15px;
                    background-color: transparent;
                    & img{
                        border: 1px solid #6e1794;
                        border-radius: 50%;
                        padding: 5px;
                        height: 50px;
                        background-color: #6e1794;
                    }
                }

                .name-user{
                    color: white;
                    font-size: 20px;
                    background-color: transparent;
                    margin-right: auto;
                    padding: 10px;
                    display: inline-block;
                    max-width: 65%;
                }
                .more{
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    margin-left: 15px;
                    position: relative;
                    & img{
                        margin: auto;
                        border: 1px solid #6e1794;
                        border-radius: 50%;
                        padding: 0px;
                        height: 25px;
                        background-color: #6e1794;
                    }
                    & .opcionesChat{
                        display: none;
                        position: absolute;
                        background-color: white;
                        height: auto;
                        top: 40px;
                        left: 20px;
                        & div{
                            width: 125px;
                            height: auto;
                            padding: 5px 0px;
                            text-align: center;
                        }
                    }
                }
                &:hover{
                    background-color: #5b516b;
                }
                &:first-child{
                    border-top: 1px solid rgb(153, 153, 153);
                }
                &:nth-child(n){
                    border-bottom: 1px solid rgb(153, 153, 153);
                }
            }
        }
    }
    #chat-mensajes{
        border-radius: 20px;
        background-color: #211b27;
        height: 95vh;
        width: 70vw;
        margin: auto;
        
        & #infoChat{
            display: flex;
            flex-direction: row;
            color: white;   
            align-items: center;
            cursor: default;
            & div:first-child{
                background-color: white;
                color: black;
                width: 30px;
                height: 30px;
                display: none;
                cursor: pointer;

                & img{
                    height: 20px;
                    z-index: 1;
                }

                &:hover{
                    background-color: rgb(221, 221, 221);
                }
            }       
            & div:last-child{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px;
            }
        }

        & #chat-display{
            overflow: hidden;
            width: 100%;
            height: 90%;
            position: relative;
            color: white;
    
            & #message{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow-y: auto;
                height: 100%;
                scroll-behavior: smooth;
                padding-bottom: 70px;
                & >li{
                    padding: .5rem 1rem;
                    cursor: default;
                }
                & >li:nth-child(odd){
                    background: #85858534;
                }
                & >li.propio{
                    text-align: right;
                }
            }

            & #form{
                width: 100%;
                bottom: 10px;
                display: flex;
                height: 48px;
                position: absolute;
                right: 0;
                padding: 0 15px;
        
                & #input{
                    border-radius: 9999px !important;
                    border: 1px solid #eee !important;
                    flex: 2 !important;
                    margin: 4px !important;
                    padding: 0 8px !important;
                }
                & button{
                    /* background-color: #09f; */
                    color: #eee;
                    border: 0;
                    margin: 4px;
                    border-radius: 20px;
                    min-width: 75px;
                }
                & button:hover{
                    /* background-color: #0cf; */
                }
            }
        }
    }   
}
@media (width <= 800px){
    #chat-container{
        width: 100vw;
        margin-left: 0px;
        gap: 0px;

        & .friends{
            width: 30%;
            min-width: 150px;
            height: calc(100vh - 100px);
            margin: 15px auto;
        }
        & #chat-mensajes{
            width: 60%;
            height: calc(100vh - 100px);
            margin: 15px auto;
        }
    }
}
@media (width <= 500px){
    .friends{
        display: flex;
        flex-direction: column;
        width: 90vw !important;
        min-width: 150px !important;
        height: calc(100vh - 100px);
        margin: 15px auto;
    }
    #chat-mensajes{
        display: none;
        width: 90vw !important;
        min-width: 150px !important;
        height: calc(100vh - 100px);
        margin: 15px auto;
        flex-direction: column;
        & #infoChat{
            display: flex;
            flex-direction: row !important;
            color: white;   
            align-items: center;

            & div:first-child{
                background-color: white;
                color: black;
                width: 30px;
                height: 30px;
                display: flex !important;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                margin: 10px;

                & img{
                    height: 20px;
                    z-index: 1;
                }
            }       
            & div:last-child{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
            }
        }
    }
}