@import url("main.css");

#container-login {
    width: 70%;
    max-width:  750px;
    margin: auto;
    height: 250px;
    min-height: 350px;
    padding: 5% 0;
    
    & >div{
        width: 100%;
        height: 50vh;
        /* margin: 60px auto 50px; */
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            width: 60vw;
        }
    }

    & form{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding-bottom: 100px;
        & .form-wrapper{
            width: 100%;
            position: relative;

            & input{
                width: 100%;
                border: none;
                background-color: rgba(255, 255, 255, 0.1);
                padding: 10px;
                border-radius: 20px;
                border: 1px solid transparent;
                &:focus{
                    outline:unset;
                    border: 1px solid rgb(214, 214, 214);
                    background-color: rgba(255, 255, 255, 0.2);

                } 
            }
            & label{
                position: absolute;
                left: 20px;
                top: 8px;
                color: var(--color-blanco);
                background-color: transparent;
                pointer-events: none;
                transition: all 0.3s ease;
            }
            & :is(input:focus, input[type="text"]:valid)~label, :is(input[type="email"]:invalid:not(:focus):not(:placeholder-shown))~label,:is(input:focus, input[type="password"]:valid)~label {
                background-color: rgba(138, 138, 138);
                transform: translateY(-110%) scale(1.2);
                margin: 0em;
                overflow: ellipsis;
                white-space: nowrap;
                padding:2px 3px;
            }
        }
        & a{
            width: 50%;
            margin: auto;
            text-align: center;
            text-decoration: none;
            color: rgb(233, 231, 231);
        }
        & button{
            color: var(--color-blanco);
            padding: 10px;
            border-radius: 20px;
            width: 20%;
            min-width: 88px;
            background-color: var(--color-primario);
            font-weight: bold;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: #851eb1;
            }
        }
    }
    /* & #register{
        color: var(--color-blanco);
        padding: 10px;
        border-radius: 20px;
        width: 20%;
        min-width: 88px;
        background-color: var(--color-primario);
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin: auto;
        &:hover{
            background-color: #851eb1;
        }
    } */
    #buttons{
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
        align-content: center;

        & bottom{
            margin: auto;
        }
    }
}
.usuario{
    display: flex;
    flex-direction: column;
}
.empresa{
    display: none;
}
#register-form-empresa{
    margin-top: 30px;
}
.formEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    & label{
        top: -20px !important;
    }
    & input::placeholder{
        color: white;
    } 
}

@media (600px < width <= 800px){
    #container-login > div > img{

        width: 80vw;
    }
}
@media (width <= 600px){
    #buttons{
        margin: auto;
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 10;

        & button{
            margin: 10px 0;
            width: 80% !important;
        }
    }
    #container-login > div > img{

        width: 80vw;
    }
    #register-form-empresa{
        height: 1000px !important;
    }
}