@import url("main.css");
body{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.menuOculto{
    width: 100px;

}
.menuDesplegado{
    width: 270px;
}
#containerSidebar{
    /* border: 1px solid red; */
    position: absolute;
    z-index: 9000;
    height: 100vh;
    background-color: rgb(33, 33, 33);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: visible;
    transition: all 0.3s;
    
    & .img-logo-sidebar{
        background-color: transparent;
        height: 150px;
        & img{
            background-color: transparent;
            height: auto;
            padding: 10%;
        }
    }

    & span{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        gap: 15px;
        /* min-height: 50px; */
        border-left: 5px solid transparent;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
            border-left: 5px solid purple;
            background: #8b398b3d;
        }

        &.active{
        border-left: 5px solid purple;
        background: #8b398b3d;
        }

        & img{
            background-color: transparent;
            width: 50px;
            max-width: 50px;
            
            color: rgb(216, 215, 215);  
            border-radius: 50%;
            padding: 5px;
            background: linear-gradient(45deg, var(--color-primario), var(--color-secundario));
            box-shadow: rgb(121, 34, 208) 0px 0px 8px 0px;      
        }
        & h3{
            background-color: transparent;
            color: rgb(216, 215, 215);
            text-transform: uppercase;
            display: none;
        }
    }
    
    & #toogleMenu{
        transition: all 0.25s;
        height: 30px;
        width: 30px;
        text-align: center;
        position: fixed;
        left: 85px;
        top: 53%;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        cursor: pointer;
        z-index: 50;
        & img{
            background-color: transparent;
            height: 30px;
            color: white;
        }

        &:hover{
            height: 40px;
            width: 40px;
            & img{
                height: 40px;
            }
        }
    }
    #hamnurgerMenu{
        display: none;
    }
}
#contenidoWeb{
    transition: all 0.25s ease-out;
    width: calc(100% - 270px);
}
#chatContainer{
    transition: all 0.2s;
    border: 1px solid red;
    position: absolute;
    height: 50px;
    width: 300px;
    right: 0;
    bottom: 0;

    & #toogleChat{
        z-index: 9998;
        border-radius: 50%;
        border: 1px solid red;
        cursor: pointer;
        height: 20px;
        width: 20px;
        position: absolute;
        top: -10px;
        left: 45%;
    }
}
#containerSidebarMovil{
    display: none;
}
#desplegableNavBar{
    display: none;
}
@media (width <= 800px) { 
    #containerSidebar{
        transition: none;
        visibility: hidden;
        transition: 0s;
        & span{
            transition: none;
        }
        & img{
            transition: none;
            transition: 0s;
        }
    }
    #hamnurgerMenu{
        display: block;
        position: absolute;
        height: 150px;
        width: 150px;
        
        & div {
            margin: 20px;
            height: 10px;
            & div{
            margin: 10px;
            padding: 0;
            height: 2px;
            width: 50px;
            background-color: white;
            transition: all 0.5s;
            }
        }
        .x1{
            rotate: 30deg;
        }
        .x2{
            rotate: -30deg;
        }
    }
}
#notificacion{
    display: none;
}
@media (width <= 800px) {
    #containerSidebar{
        transition: 0.1s;
    }
    #info{
        justify-content: flex-start !important;
    }
    .containerDeckBuilder {
        width: 100vw;
        height: calc(100vh - 80px);
    }
    #containerSidebarMovil{
        position: absolute;
        background-color: rgb(31, 31, 31);
        color: white;
        position: fixed;
        width: 100vw;
        height: 80px;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 9999;
        & span{
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 10px;
            text-transform: uppercase;
            margin: 10px 0  0;
            transition: all 0.2s;
            & img{
                height: 30px;
            }
            & h3{
                font-size: calc(.65em + 1vw);
            }
            &:hover{
                background-color: rgb(238, 238, 238);
                border-radius: 20px 20px  0 0;
                color: black;
            }
        }
        & .active{
            background-color: rgb(238, 238, 238) !important;
            border-radius: 20px 20px  0 0;
            color: black;
        }
    }
    #desplegableNavBar{
        visibility: hidden;
        position: fixed;
        right: 0;
        bottom: 79px;
        border-radius: 25px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 270px;
        width: 200px;
        padding: 10px 0;
        background-color: rgb(31, 31, 31);
        color: white;
        z-index: 15;
        & span{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            transition: background-color 1s border-radius 1s;
            & img{
                height: 30px;
                border-radius: 20px;
            }
            & h3{
                font-size: calc(.65em + 1vw);
            }
            &:hover{
                background-color: rgb(238, 238, 238);
                border-radius: 20px 0px  0 20px;
                color: black;
            }
        }
    }
    #otros{
        position: relative;
    }
    #notificacion{
        display: none;
        height: 20px;
        width: 20px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: 0;
        justify-content: center;
        align-items: center;
        /* transition: all 1s; */
        -webkit-animation: scale-up-center 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    @keyframes scale-up-center {
        0%,
        100% {
          -webkit-transform: translateX(0%);
                  transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
        }
        15% {
          -webkit-transform: translateX(-20px) rotate(-6deg);
                  transform: translateX(-20px) rotate(-6deg);
        }
        30% {
          -webkit-transform: translateX(15px) rotate(6deg);
                  transform: translateX(15px) rotate(6deg);
        }
        45% {
          -webkit-transform: translateX(-15px) rotate(-3.6deg);
                  transform: translateX(-15px) rotate(-3.6deg);
        }
        60% {
          -webkit-transform: translateX(9px) rotate(2.4deg);
                  transform: translateX(9px) rotate(2.4deg);
        }
        75% {
          -webkit-transform: translateX(-6px) rotate(-1.2deg);
                  transform: translateX(-6px) rotate(-1.2deg);
        }
      }
      
    
}