@import url("main.css");
body{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.menuOculto{
    width: 100px;

}
.menuDesplegado{
    width: 270px;
}
#containerSidebar{
    /* border: 1px solid red; */
    position: absolute;
    z-index: 9000;
    height: 100vh;
    background-color: rgb(33, 33, 33);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: visible;
    transition: all 0.3s;
    

    & .img-logo-sidebar{
        background-color: transparent;
        height: 150px;
        & img{
            background-color: transparent;
            height: auto;
            padding: 10%;
        }
    }

    & span{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        gap: 15px;
        /* min-height: 50px; */
        border-left: 5px solid transparent;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
            border-left: 5px solid purple;
            background: #8b398b3d;
        }

        &.active{
        border-left: 5px solid purple;
        background: #8b398b3d;
        }

        & img{
            background-color: transparent;
            width: 50px;
            max-width: 50px;
            
            color: rgb(216, 215, 215);  
            border-radius: 50%;
            padding: 5px;
            background: linear-gradient(45deg, var(--color-primario), var(--color-secundario));
            box-shadow: rgb(121, 34, 208) 0px 0px 8px 0px;      
        }
        & h3{
            background-color: transparent;
            color: rgb(216, 215, 215);
            text-transform: uppercase;
            display: none;
        }
    }
    
    & #toogleMenu{
        transition: all 0.25s;
        height: 30px;
        width: 30px;
        text-align: center;
        position: fixed;
        left: 85px;
        top: 53%;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        cursor: pointer;
        z-index: 50;
        & img{
            background-color: transparent;
            height: 30px;
            color: white;
        }

        &:hover{
            height: 40px;
            width: 40px;
            & img{
                height: 40px;
            }
        }
    }
    #hamnurgerMenu{
        display: none;
    }
}
@media (width <= 800px) { 
    #containerSidebar{
        visibility: hidden;
    }
    #hamnurgerMenu{
        display: block;
        position: absolute;
        height: 150px;
        width: 150px;
        
        & div {
            margin: 20px;
            height: 10px;
            & div{
            margin: 10px;
            padding: 0;
            height: 2px;
            width: 50px;
            background-color: white;
            transition: all 0.5s;
            }
        }
        .x1{
            rotate: 30deg;
        }
        .x2{
            rotate: -30deg;
        }
    }
}
#contenidoWeb{
    transition: all 0.25s ease-out;
    border: 1px solid red;
    width: calc(100% - 270px);
}
#chatContainer{
    transition: all 0.2s;
    border: 1px solid red;
    position: absolute;
    height: 50px;
    width: 300px;
    right: 0;
    bottom: 0;

    & #toogleChat{
        z-index: 9998;
        border-radius: 50%;
        border: 1px solid red;
        cursor: pointer;
        height: 20px;
        width: 20px;
        position: absolute;
        top: -10px;
        left: 45%;
    }
}

#chat{
    border: 1px solid red;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 96.5%;
    position: relative;
}
#form{
    width: 100%;
    bottom: 10px;
    display: flex;
    height: 48px;
    position: absolute;
    right: 0;

    & button{
        background-color: #09f;
        color: #eee;
        border: 0;
        margin: 4px;
        border-radius: 20%;
    }
    & button:hover{
        background-color: #0cf;
    }
}
#input{
    border-radius: 9999px;
    border: 1px solid #eee;
    flex: 1;
    margin: 4px;
    padding: 0 8px;
}

#message{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 95%;
    scroll-behavior: smooth;
    padding-bottom: 48px;
    & >li{
        padding: .5rem 1rem;
    }

    & >li:nth-child(odd){
        background: #88888800;
        text-align: right;
    }
}